.principal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
  width: 98%;
  /* overflow: auto; */
}
.multiple {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
}
/* .multiple canvas {
  width: 100px;
} */
/* .simple {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
} */
